body {
    background-color: bisque;
}

header {
    background-color: gray;
    text-align: center; 
}

h1 {
    color: darkgreen;
    border: solid white 2px;
    background-color: rgb(139, 179, 249);
}

header li {
    border: solid white 1px;
    color: rgb(0, 255, 76);
    display: inline;
    background-color: rgb(139, 179, 249);
    padding: 5px 15px;
    margin: 10px 80px;
}

section{
    background-color: lavender;
    text-align: center;
    color: brown;
}

img {
    margin: 1em; 
}

#section2 {
    background-color: rgb(82, 190, 186);
}

.things {
    border: solid rgb(255, 0, 238) 5px;
    margin: 10px;
}

footer {
    background-color: gray;
}
footer{
    color: white;
    text-align: right;
}

footer li {
    color: blue;
    text-align: right;
    margin: 1px;
    padding: 3px;
}
